:root {
  /* Colors */
  --white: #fff;
  --translucent-white: #d7ccc0;
  --fair: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;

  /* Font settings */
  --main-font: "Open Sans";
  --header-font: "Neucha";
  --font-size: 16px;
  --line-height: 1.6em;
  --font-color: var(--dark);

  /* Header settings */
  --header-line-height: 1.2em;
  --header-1-font-size: 72px;
  --header-2-font-size: 60px;
  --header-3-font-size: 34px;
}

.section-block {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}
