:root {
  /* Colors */
  --white: #fff;
  --translucent-white: #d7ccc0;
  --fair: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;

  /* Font settings */
  --main-font: "Open Sans";
  --header-font: "Neucha";
  --font-size: 16px;
  --line-height: 1.6em;
  --font-color: var(--dark);

  /* Header settings */
  --header-line-height: 1.2em;
  --header-1-font-size: 72px;
  --header-2-font-size: 60px;
  --header-3-font-size: 34px;
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: var(--main-font), sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--font-color);
}

.section-block {
  position: relative;

  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.section-texts {
  display: flex;
  justify-content: space-between;
}

.section-texts-left,
.section-texts-right {
  width: 540px;
}

.section-text {
  margin-bottom: 30px;
}

.section-btn {
  display: inline-block;
  padding: 12px 24px;

  font-weight: bold;
  color: var(--white);
  text-transform: uppercase;

  background-color: var(--main);
  border: none;
}

.main-bg::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.main-header h1 {
  position: relative;

  margin: 0 0 185px;
  padding: 0;

  font-family: var(--header-font);
  font-size: var(--header-1-font-size);
  line-height: var(--header-line-height);
  font-weight: 400;
}

.main-header img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.main-header-higlight {
  color: var(--main);
}
